<% if local_assigns[:zero] %>
<li id="post-zero">
<% else %>
<li>
<% end %>
  <div class="post-text">
    <%= post.html.html_safe %>
  </div>
  <div class="post-info">
    <p class="poster-id"><%= post.poster_id %></p>
    <p class="post-time" title="<%= post.created_at %>"><%= time_ago_in_words(post.created_at) %> ago</p>
  </div>
  <% if !post.children.empty? %> 
    <ul class="post-list"><%= render partial: 'post', collection: post.children %></ul>
  <% end %>
</li>
<% if local_assigns[:zero] %><hr /><% end %>
