<%= form_for @topic do |tf| %>
  <% if @topic.errors.any? %>
    <ul id="error"><% @topic.errors.full_messages.each do |error| %>
      <% fix_topic_error(error) %>
      <li><%= error %></li>
    <% end %></ul>
  <% end %>
  <%= tf.label :section %><%= tf.text_field :section, value: params[:section] %>
  <%= tf.label :name, "Topic" %><%= tf.text_field :name %>
  <%= tf.fields_for :posts do |pf| %>
    <%= pf.label :text %><%= pf.text_area :text %>
    <%= pf.label :password, class: 'optional' %><%= pf.text_field :password, type: :password, class: 'optional' %>
  <% end %>
  <%= tf.submit "Create topic" %>
<% end %>
