<%= form_for @topic do |tf| %>
  <% if @topic.errors.any? %>
    <ul id="errors"><% @topic.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %></ul>
  <% end %>
  <%= tf.label :section %><%= tf.text_field :section %>
  <%= tf.label :name, "Topic" %><%= tf.text_field :name %>
  <%= tf.fields_for :posts do |pf| %>
    <%= pf.label :text %><%= pf.text_area :text %>
    <%= pf.label :password %><%= pf.text_field :password, type: :password %>
  <% end %>
  <%= tf.submit "Create topic" %>
<% end %>
