<h1>New topic</h1>
<%= form_for @topic, url: { action: 'create' } do |ft| %>
  <%= ft.text_field :name %>
  <%= ft.fields_for :posts do |fp| %>
    <%= fp.text_area :text %>
    <%= fp.text_field :password %>
  <% end %>
  <%= ft.submit %>
<% end %>
