<!DOCTYPE html>
<html>
<head>
  <title><%= [@title, "Tin Bull"].compact.join(' | ') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="A public discussion board.">
</head>
<body>
  <div id="foreground">
  <%= render 'layouts/header' %>
  <div id="view">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
