<!DOCTYPE html>
<html>
<head>
  <title>Tin Bull</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="Artur Ostrega">
  <meta description="An anonymous bulletin board.">
</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
